* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "kyiv";
  src: url("../font/KyivTypeSans-Regular.ttf");
  font-style: normal;
  font-weight: 700;
}

  @font-face { 
    font-family: "explore"; 
    src: url("../font/Explore.ttf")

}
.cuerpo {
  font-family: "kyiv" !important;
  color: white;
  background-color: #191970;
}
.cuerpo__cabeza {
  background-color: #8d0000;
  padding: 30px;
  margin: 0;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
.cuerpo__cabeza__logo img {
  width: 75px;
  position: fixed;
  transform: translate(0, 25px);
}

.cuerpo__cabeza__menu ul li:hover {
  background-color: #191970;
  border-radius: 10px;
}
.cuerpo__cabeza__menu ul li a {
  color: white;
  text-decoration: none;
  margin: 10px;
}
/*Comienzo Footer gral*/

.cuerpo__pie {
  background-color: #222021;
  font-family: inherit;
  display: flex;
  justify-content: space-between;
}
.cuerpo__pie__texto {
  margin: 30px;
  display: inline-block;
}
.cuerpo__pie__redes {
  display: flex;
  justify-content: end;
  align-content: center;
  align-items: center;
}
.cuerpo__pie__redes ul li {
  display: inline-block;
  list-style: none;
  position: relative;
  margin: 10px;
}

/*Final Footer gral*/
.cuerpo__torso__index__efecto {
  display: flex;
  justify-content: center;
}
.cuerpo__torso__index__efecto img {
  width: 200px;
  animation-name: un_efecto;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 10s;


}
@keyframes un_efecto {
  0%, 100% {transform: translate(-10px, -10px)}
  25%{transform: translate(10px, -10px)}
  50%{transform: translate(10px, 10px)}
  75%{transform: translate(-10px, 10px)}
  
}
.cuerpo__torso__index__portada img {
  width: 100vw;
}
.cuerpo__torso__index__minibio {
  display: grid;
  grid-template-areas:
    "titulo info"
    "boton info";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr;
  gap: 5px;
  align-items: center;
  justify-items: center;
  background-color: #1e0c06;
  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: 20px 0 10px 30px;
}

.cuerpo__torso__index__minibio p {
  grid-area: info;
  text-align: end;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px;
}
.boton {
  background-color: #8d0000;
  border: solid 2px;
  border-radius: 10px;
  margin: 40px;
  padding: 10px;
}
.boton a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.boton:hover {
  background-color: #191970;
  border-radius: 10px;
}
.botones {
  display: flex;
  justify-content: center;
}

/* Inicio cuerpo biografia*/
.cuerpo__torso__bio__historia {
  padding: 50px 15px 200px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.foto1 {
  width: 35%;
  transform: translate(50px, -200px);
}
.foto2 {
  width: 60%;
  transform: translate(10px, -100px);
}
.foto3 {
  width: 60%;
  transform: translate(100px, -150px);
}
/* Fin cuerpo biografia */
/* Inicio cuerpo galeria*/
.cuerpo__torso__galeria__carruseles {
  margin: 50px 15px 30px;
}
.cuerpo__torso__galeria__video {
  display: flex;
  justify-content: center;
}
/* Fin cuerpo galeria*/

/* Inicio cuerpo contacto*/
.cuerpo__torso__contacto {
  margin: 10px 20px;
}
/* Inicio cuerpo contacto*/

@media only screen and (min-width: 768px) {
  .cuerpo__cabeza__logo img {
    width: 130px;
    transform: translate(0)
  }
  .cuerpo__torso__index__2 {
    display: flex;
    justify-content: space-between;
  }
  .cuerpo__torso__index__efecto {
    display: flex;
    justify-content: center;
  }
  .cuerpo__torso__index__efecto img {
    animation-name: un_efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    width: 300px;
    
  
  
  }
  @keyframes un_efecto {
    0%, 100% {transform: translate(-10px, -10px)}
    25%{transform: translate(10px, -10px)}
    50%{transform: translate(10px, 10px)}
    75%{transform: translate(-10px, 10px)}
    
  }
  .cuerpo__torso__index__minibio {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin: 20px 0px 20px 0px;
  }
  .cuerpo__torso__index__minibio h1 {
    padding: 40px;
  }

  .cuerpo__torso__index__minibio p {
    padding: 40px;
  }

  .cuerpo__torso__index__minigaleri__carrusel {
    margin: 100px 100px 10px 100px;
    padding: 10px 100px 10px 100px;
  }
  /* Inicio cuerpo biografia*/
  .cuerpo__torso__bio__historia {
    padding: 50px 100px 50px;
  }
  .cuerpo__torso__bio__fotos {
    display: inline-block;
  }
  .foto1 {
    width: 40%;
    transform: translate(50px, -10px);
  }
  .foto2 {
    width: 50%;
    transform: translate(-125px, 200px);
  }
  .foto3 {
    width: 50%;
    transform: translate(600px,0px);
  }
  /* Fin cuerpo biografia */
  /* Inicio cuerpo galeria*/

  .cuerpo__torso__galeria__carruseles {
    margin: 50px 100px 10px 100px;
    padding: 10px 100px 10px 100px;
  }
  .cuerpo__torso__galeria__video article iframe {
    width: 600px;
    height: 400px;
  }
  /* Fin cuerpo galeria*/
  /* Inicio cuerpo contacto*/
  .cuerpo__torso__contacto {
    margin: 100px 200px;
  }
  /* Inicio cuerpo contacto*/
}
