/* Inicio cuerpo biografia*/
.cuerpo__torso__bio__historia {
  padding: 4rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.foto1 {
  width: 35%;
  transform: translate(50px, 0);
}
.foto2 {
  width: 60%;
  transform: translate(10px, 50px);
}
.foto3 {
  width: 60%;
  transform: translate(100px, 0);
  padding-bottom:10px ;
}
/* Fin cuerpo biografia */

@media only screen and (min-width: 768px) {
  /* Inicio cuerpo LG biografia*/
  .cuerpo__torso__bio__historia {
    padding: 50px 100px 50px;
  }
  .cuerpo__torso__bio__fotos {
    display: inline-block;
  }
  .foto1 {
    width: 30%;
    transform: translate(50px, -10px);
  }
  .foto2 {
    width: 40%;
    transform: translate(-25px, 200px);
  }
  .foto3 {
    width: 40%;
    transform: translate(30rem, 0px);
  }
  /* Fin cuerpo LG biografia */
}
