
/* Comienzo main principal*/
main h1 {
  text-align: center;
  padding-top: 4rem;
}
.tarjeta {
  display: flex;
  justify-content: center;
}
.watsap {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 1;
  width: 4rem;
}

/* Fin main principal*/