/*Comienzo Header gral*/

.cuerpo__cabeza {
  z-index: 1;
  background: rgb(141, 0, 0);
  background: radial-gradient(
    circle,
    rgba(141, 0, 0, 0) 33%,
    rgba(141, 0, 0, 1) 61%
  );
  border-radius: 0 0 0 1rem;
  padding: 0 1rem;
  width: 100vw;
  position: fixed;

  &__logo {
    height: 5px;
  }
  img {
    width: 3rem;
    transform: translate(0, -10px);
  }
  &__menu ul li:hover {
    background-color: rgba(25, 25, 112, 0.5);
    border-radius: 1rem;
    & a:hover {
      color: white;
    }
  }
  &__menu ul li {
    text-align: end;
  }
  &__menu ul li a {
    color: rgb(240, 240, 240);
    margin: 4px;
  }
}

@media only screen and (min-width: 768px) {
  .cuerpo__cabeza__logo {
    height: 5px;
    & img {
      width: 5rem;
      transform: translate(0, -2rem);
    }
  }
}
/*Comienzo Header gral*/
